# Hugo output
public/
/resources/
.hugo_build.lock

# Examples build
examples/.gradle/
examples/build/

# Editor
.vscode/

# macOS
.DS_Store

# Eclipse
examples/.classpath
examples/.project
examples/.settings/
examples/bin/
